:root {
  color-scheme: dark;
}

html {
  scrollbar-color: #ae00ff #000;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unselectable {
  -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   pointer-events: none;
}
